div[uid = "0"]{
	background-image: url("../img/Carte/card (0).png");
}

div[uid = "1"]{
	background-image: url("../img/Carte/card (1).png");
}

div[uid = "2"]{
	background-image: url("../img/Carte/card (2).png");
}

div[uid = "3"]{
	background-image: url("../img/Carte/card (3).png");
}

div[uid = "4"]{
	background-image: url("../img/Carte/card (4).png");
}

div[uid = "5"]{
	background-image: url("../img/Carte/card (5).png");
}

div[uid = "6"]{
	background-image: url("../img/Carte/card (6).png");
}

div[uid = "7"]{
	background-image: url("../img/Carte/card (7).png");
}

div[uid = "8"]{
	background-image: url("../img/Carte/card (8).png");
}

div[uid = "9"]{
	background-image: url("../img/Carte/card (9).png");
}

div[uid = "10"]{
	background-image: url("../img/Carte/card (10).png");
}

div[uid = "11"]{
	background-image: url("../img/Carte/card (11).png");
}

div[uid = "12"]{
	background-image: url("../img/Carte/card (12).png");
}

div[uid = "13"]{
	background-image: url("../img/Carte/card (13).png");
}

div[uid = "14"]{
	background-image: url("../img/Carte/card (14).png");
}

div[uid = "15"]{
	background-image: url("../img/Carte/card (15).png");
}

div[uid = "16"]{
	background-image: url("../img/Carte/card (16).png");
}

div[uid = "17"]{
	background-image: url("../img/Carte/card (17).png");
}

div[uid = "18"]{
	background-image: url("../img/Carte/card (18).png");
}

div[uid = "19"]{
	background-image: url("../img/Carte/card (19).png");
}

div[uid = "20"]{
	background-image: url("../img/Carte/card (20).png");
}

div[uid = "21"]{
	background-image: url("../img/Carte/card (21).png");
}

div[uid = "22"]{
	background-image: url("../img/Carte/card (22).png");
}

div[uid = "23"]{
	background-image: url("../img/Carte/card (23).png");
}

div[uid = "24"]{
	background-image: url("../img/Carte/card (24).png");
}

div[uid = "25"]{
	background-image: url("../img/Carte/card (25).png");
}

div[uid = "26"]{
	background-image: url("../img/Carte/card (26).png");
}

div[uid = "27"]{
	background-image: url("../img/Carte/card (27).png");
}

div[uid = "28"]{
	background-image: url("../img/Carte/card (28).png");
}

div[uid = "29"]{
	background-image: url("../img/Carte/card (29).png");
}

div[uid = "30"]{
	background-image: url("../img/Carte/card (30).png");
}

div[uid = "31"]{
	background-image: url("../img/Carte/card (31).png");
}

div[uid = "32"]{
	background-image: url("../img/Carte/card (32).png");
}

div[uid = "33"]{
	background-image: url("../img/Carte/card (33).png");
}

div[uid = "34"]{
	background-image: url("../img/Carte/card (34).png");
}

div[uid = "35"]{
	background-image: url("../img/Carte/card (35).png");
}

div[uid = "36"]{
	background-image: url("../img/Carte/card (36).png");
}

div[uid = "37"]{
	background-image: url("../img/Carte/card (37).png");
}

div[uid = "38"]{
	background-image: url("../img/Carte/card (38).png");
}

div[uid = "39"]{
	background-image: url("../img/Carte/card (39).png");
}

div[uid = "40"]{
	background-image: url("../img/Carte/card (40).png");
}

div[uid = "41"]{
	background-image: url("../img/Carte/card (41).png");
}

div[uid = "42"]{
	background-image: url("../img/Carte/card (42).png");
}

div[uid = "43"]{
	background-image: url("../img/Carte/card (43).png");
}

div[uid = "44"]{
	background-image: url("../img/Carte/card (44).png");
}

div[uid = "45"]{
	background-image: url("../img/Carte/card (45).png");
}

div[uid = "46"]{
	background-image: url("../img/Carte/card (46).png");
}

div[uid = "47"]{
	background-image: url("../img/Carte/card (47).png");
}

div[uid = "48"]{
	background-image: url("../img/Carte/card (48).png");
}

div[uid = "49"]{
	background-image: url("../img/Carte/card (49).png");
}

div[uid = "50"]{
	background-image: url("../img/Carte/card (50).png");
}

div[uid = "51"]{
	background-image: url("../img/Carte/card (51).png");
}

div[uid = "52"]{
	background-image: url("../img/Carte/card (52).png");
}

div[uid = "53"]{
	background-image: url("../img/Carte/card (53).png");
}

div[uid = "54"]{
	background-image: url("../img/Carte/card (54).png");
}

div[uid = "55"]{
	background-image: url("../img/Carte/card (55).png");
}

div[uid = "56"]{
	background-image: url("../img/Carte/card (56).png");
}

div[uid = "57"]{
	background-image: url("../img/Carte/card (57).png");
}

div[uid = "58"]{
	background-image: url("../img/Carte/card (58).png");
}

div[uid = "59"]{
	background-image: url("../img/Carte/card (59).png");
}

div[uid = "60"]{
	background-image: url("../img/Carte/card (60).png");
}

div[uid = "61"]{
	background-image: url("../img/Carte/card (61).png");
}

div[uid = "62"]{
	background-image: url("../img/Carte/card (62).png");
}

div[uid = "63"]{
	background-image: url("../img/Carte/card (63).png");
}

div[uid = "64"]{
	background-image: url("../img/Carte/card (64).png");
}

div[uid = "65"]{
	background-image: url("../img/Carte/card (65).png");
}

div[uid = "66"]{
	background-image: url("../img/Carte/card (66).png");
}

div[uid = "67"]{
	background-image: url("../img/Carte/card (67).png");
}

div[uid = "68"]{
	background-image: url("../img/Carte/card (68).png");
}

div[uid = "69"]{
	background-image: url("../img/Carte/card (69).png");
}

div[uid = "70"]{
	background-image: url("../img/Carte/card (70).png");
}

div[uid = "71"]{
	background-image: url("../img/Carte/card (71).png");
}

div[uid = "72"]{
	background-image: url("../img/Carte/card (72).png");
}

div[uid = "73"]{
	background-image: url("../img/Carte/card (73).png");
}

div[uid = "74"]{
	background-image: url("../img/Carte/card (74).png");
}

div[uid = "75"]{
	background-image: url("../img/Carte/card (75).png");
}

div[uid = "76"]{
	background-image: url("../img/Carte/card (76).png");
}

div[uid = "77"]{
	background-image: url("../img/Carte/card (77).png");
}

div[uid = "78"]{
	background-image: url("../img/Carte/card (78).png");
}