* {
	margin:0;
	padding:0;
	font-family: "Open Sans";
	font-size: 28px;
}

@font-face {
    font-family: "Open Sans";
    src: url("../img/hinted-GWENT-ExtraBold.ttf") format("truetype");
}

body {
	background-color: rgb(253, 253, 253);
	display: flex;
	align-items: center;
	flex-flow: column;
	height: 100vh;
	width: 100vw;
}

.login{
	background-color: black;
	background-image: url("../img/login-Background.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	flex: 1 ;
	position: relative;
	overflow: hidden;
}

.login-connexion{
	-webkit-text-stroke:2px rgb(209, 165, 21);
	font-size: 40px;
	color: rgb(19, 165, 80);
	margin-top: 20px;
	text-shadow: 2px 2px 2px black;
}

.login-form{
	display: flex;
	align-content: center;
	flex-flow: column;
}


.form-label {
	float:left;
	width:150px;
	color: rgb(49, 27, 13);
}

.form-input {
	float:left;
	border: 2px solid rgb(95, 60, 36);
	border-radius: 3px;
}

.form-separator {
	clear: both;
	height:10px;
}
.form-button{
	width: 130px;
	height: 30px;
	float: right;
}

.form-button button{
	padding-top: 3px;
	color: blanchedalmond;
	font-size: 22px;
	width: 130px;
	height: 30px;
	background-image: url("../img/bouton.png");
	background-repeat: no-repeat;
	background-size: 126px 26px;
	
}

.error-div {
	-webkit-text-stroke:2px rgb(0, 0, 0);
	font-size: 26px;
	color:red;
	width: fit-content;
}

.login-form-frame {
	width: 531px;
	height: 201px;
	display: flex;
	align-items: center;
	flex-flow: column;
	background-image: url("../img/cadre_login.png");
	margin-top: 200px;
	z-index: 2;
}

.geralt{
	pointer-events:none;
	background-image: url("../img/geralt.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: absolute;
	display: flex;
	left: 0px;
	width: 100%;
	height: 100%;
	flex: 1 ;
	z-index: 1;
}

.ciri{
	pointer-events:none;
	background-image: url("../img/ciri.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right;
	position: absolute;
	display: flex;
  	right: 0px; 
	width: 100%;
	height: 100%;
	flex: 1 ;
	z-index: 1;
}

.login-title{
	pointer-events:none;
	border: none;
	display: block;
	background: url("../img/Magix_logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 500px;
	left: 0;
	top: 50%;
	z-index: 3;
}

.smokePuff{
	position: absolute;
	background-image: url("../img/smoke-sprite-png-5.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	mix-blend-mode: screen;
}
.smoke-container{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	mix-blend-mode: screen;
}



/*--------------JEU------------------*/

.table-jeu{
	background-image: url("../img/game-board.png");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center top;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	flex: 1 ;
	position: relative;
	overflow: hidden;
}
@media only screen and (max-width: 800px) {
	.table-jeu {
		background-image: url("../img/game-board-small.png");
	}
  }

.enemy-side{
	width: 100%;
	background-color: rgba(165, 42, 42, 0.411);
	border: 4px solid black;
	height: 15%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.enemy-side-cartesEnMain{
	background-color: rgba(229, 255, 0, 0.411);
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.enemy-unturned-card{
	background-image: url("../img/card-back.png");
	height: 100%;
	width: 15%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 1%;
}
.enemy-side-milieu{
	/*background-color: rgba(0, 255, 34, 0.411);*/
	flex-grow: 0.5;
	display: flex;
	justify-content: space-evenly;
}
.enemy-space{
	flex-grow: 0.5;
}

.enemy-picture{
	background-image: url("../img/picture-enemy.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 130%;
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.enemy-name{
	font-size: 7vh;
	text-align: center;
	color: rgb(167, 0, 0);
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}

.enemy-vie{
	background-image: url("../img/crystal-rouge.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
.enemy-vie-valeur{
	height: 45%;
	font-size: 7vh;
	text-align: center;
	color: #f8e196;
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}
.enemy-mana{
	background-image: url("../img/crystal-bleu.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
.enemy-mana-valeur{
	height: 45%;
	font-size: 7vh;
	text-align: center;
	color: #f8e196;
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}

.enemy-side-cartesRestantes{
	background-color: rgba(255, 123, 0, 0.411);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.enemy-cartesLogo{
	background-image: url("../img/carte-restante.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 70%;
	width: 100px;
}
.enemy-cartesRestanteValeur{
	font-size: 6vh;
	text-align: center;
	color: #f8e196;
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}

.enemy-play-side{
	width: 100%;
	background-color: rgba(255, 0, 191, 0.411);
	border: 4px solid rgb(255, 0, 0);
	height: 28%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

/*--------------PLAYER-------------*/
.player-play-side{
	width: 100%;
	background-color: rgba(0, 174, 255, 0.411);
	border: 4px solid rgb(38, 0, 255);
	height: 32%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.player-side{
	width: 100%;
	background-color: rgba(0, 255, 55, 0.411);
	border: 4px solid rgb(0, 134, 7);
	height: 25%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.player-side-info{
	background-color: rgba(229, 255, 0, 0.411);
	flex-grow: 0;
	width: 15%;
	display: flex;
}
.player-side-info-valeur{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.player-vie{
	background-image: url("../img/crystal-rouge.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
	width: 100%;
	flex:1;
	align-items: center;
	justify-content: center;
}
.player-vie-valeur{
	height: 55%;
	font-size: 7vh;
	text-align: center;
	color: #f8e196;
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}

.player-mana{
	background-image: url("../img/crystal-bleu.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
	width: 100%;
	flex:1;
	align-items: center;
	justify-content: center;
}
.player-mana-valeur{
	height: 55%;
	font-size: 7vh;
	text-align: center;
	color: #f8e196;
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}

.player-side-info-carte{
	width: 100%;
	height: 100%;
}
.player-cartesLogo{
	background-image: url("../img/carte-restante.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-cartesRestanteValeur{
	padding-top: 35%;
	padding-left: 10%;
	font-size: 6vh;
	text-align: center;
	color: #f8e8b4;
	text-shadow: 0.2vh 0.5vh 0.5vh black;
}


.player-side-cartesEnMain{
	background-color: rgba(0, 255, 34, 0.411);
	flex-grow: 0;
	width: 70%;
	display: flex;
}
.player-side-buttonsRight{
	background-color: rgba(255, 123, 0, 0.411);
	flex-grow: 0;
	width: 15%;
	display: flex;
}