* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana;
	background-image:url('../images/gradient.jpg');
	background-repeat:repeat-x;
	background-position:top center;
}

.form-label {
	float:left;
	width:150px;
}

.form-input {
	float:left;
	width: 150px;
}

.form-separator {
	clear: both;
	height:10px;
}

.error-div {
	border: 1px solid red;
	padding:5px;
	border-radius: 3px;
	background-color: pink;
	margin-bottom: 20px;
	color:red;
}

.login-form-frame {
	margin: 20px auto;
	width:310px;
	border-radius: 3px;
	border:1px solid #6b5736;
	background-color: #ddd;
	padding:20px;
	background: linear-gradient(white, #d1d1d1); 
}